extends mixins
block content
	doctype html
	html(lang="en")
	head
		title Tune PIDs
		link(href='bootstrap.min.css' rel='stylesheet')
		link(href='jquery-ui.min.css' rel='stylesheet')
		link(href='bootstrap-theme.min.css' rel='stylesheet')
		link(href='tuner.css' rel='stylesheet')

		script(type='text/javascript' src='socket.io.js')
		script(type='text/javascript' src='jquery.js')
		script(type='text/javascript' src='bootstrap.min.js')
		script(type='text/javascript' src='tuner.js')
		script(type='text/javascript' src='jquery-ui.min.js')
		script(type='text/javascript' src='raphael.2.1.0.min.js')
		script(type='text/javascript' src='justgage.1.0.1.min.js')


	body.container
			

		
		.col-md-7
			.panel.panel-default
				.panel-heading
					ul.nav.nav-pills
						each val in buttons
							li
								a(id='#{val}') #{val}

				.panel-body
					.col-sm-8
						each g in GAUGES
							+MAKEGAUGE(g.id,g.class,g.container)
					.col-sm-4
						each g in GROUP2
							+MAKEGAUGE(g.id,g.class,g.container)


			.msg-target
					


		.col-md-5
			.NSR 
				.signal Connecting
			.panel.panel-default
				.panel-heading.slider-box
					h3 
						strong Throttle
					table.slider-panel.table
						.critical
							+SLIDER('TTHROTTLE','',100,1)
					br

					each ctrl in PIDS
						h3
							strong #{ctrl}
						table.slider-panel.table
							each item in ITEMS
								+SLIDER(ctrl,item,1000,100)


			


