extends mixins
block content
	doctype html
	html(lang="en")
	head
		title Tune PIDs
		link(href='bootstrap.min.css' rel='stylesheet')
		link(href='jquery-ui.min.css' rel='stylesheet')
		link(href='bootstrap-theme.min.css' rel='stylesheet')
		link(href='tuner.css' rel='stylesheet')

		script(type='text/javascript' src='socket.io.js')
		script(type='text/javascript' src='jquery.js')
		script(type='text/javascript' src='bootstrap.min.js')
		script(type='text/javascript' src='tuner.js')
		script(type='text/javascript' src='jquery-ui.min.js')
		script(type='text/javascript' src='raphael.2.1.0.min.js')
		script(type='text/javascript' src='justgage.1.0.1.min.js')

		script.
			global_hash["all"]     = true;
			global_hash["status"]  = true;
			global_hash["data"]    = true;
			global_hash["warning"] = true;
			global_hash["error"]   = true;
	body
		nav.navbar.navbar-fixed-top(role="navigation")
			.container-fluid
				.navbar-header
					a.navbar-brand
						| UAV Pid Tuner
				#navbar
					ul.nav.navbar-nav.navbar-left
						each TAB in MENU
							+MAKETAB(TAB)

					.navbar-right
						.signal
							.bar

				.container-fluid
					.row
						.col-sm-3.col-md-2.sidebar
							each MENU in SIDEBARS
								+MAKESIDEBAR(MENU)

							.msg-container
								.msg-controls
									a#all.msg.label.msg-ctrl
										|All
									a#status.msg.label.msg-ctrl
										|Status
									a#warning.msg.label.msg-ctrl
										|Warnings
									a#error.msg.label.msg-ctrl
										|Errors
									a.msg.msg-clear.label
										|Clear
								.msg-target

			
		.col-sm-9.col-sm-offset-3.col-md-10.col-md-offset-2.main.suppressible.suppressed
			section#tuner-menu
				.row.gage-groups
					each group, name in GAUGES
						.gages(class="#{name}")
							each g in group
								+MAKEGAUGE(g.id,g.class,g.container,g.subtext,g.min,g.max)

				br

				each tuner in Throttle
					+MAKETUNER(tuner)

				#tuners.carousel.slide(data-ride='carousel' data-interval="false")
					.carousel-inner(role='listbox')
						each tuner in Tuners
							.item(class="#{tuner.active?'active':''}")
								+MAKETUNER(tuner)
					ol.carousel-indicators
						li.active(data-target='#tuners', data-slide-to='0')
						li(data-target='#tuners', data-slide-to='1')
						li(data-target='#tuners', data-slide-to='2')

				h3.btn.btn-primary.pull-left(href='#tuners', role='button', data-slide='prev')
					|Previous

				h3.btn.btn-primary.pull-right(href='#tuners', role='button', data-slide='next')
					|Next


			section#controls-menu
				.col-sm-12
					h3 connect
					button.btn.btn-success.control#handshake
						|Handshake
				.col-sm-12
					h3 select mode
					button.btn.btn-primary.control#settuner
						|Tuner Mode-select
					button.btn.btn-primary.control#setuav
						|UAV Mode-select
				
				.col-sm-12
					h3 reset
					button.btn.btn-danger.control#reset
						|Reset
					button.btn.btn-danger.control#reset-hard
						|Reset HARD

				.col-sm-12(style="padding-top:60px;")
					h4
						small Unused...
					button.btn.btn-warning.control#reset
						|Reset Tuner Process
					button.btn.btn-danger.control#kill
						|Kill Tuner Process
					button.btn.btn-danger.control#killall
						|Pkill UAV.o
					button.btn.btn-success.control#start
						|Start Tuner Process
					button.btn.btn-warning.control#settest
						|Set executable 'TEST'
			

			section#help-menu
				span.label.label-info.pull-right Info
				.page-header
					h1
						|PID controller
					small
						|From Wikipedia, the free encyclopedia

				p.lead
					|A <strong>proportional-integral-derivative controller</strong> (PID controller) is a control loop feedback mechanism (controller) widely used in industrial control systems. A PID controller calculates an error value as the difference between a measured process variable and a desired setpoint. The controller attempts to minimize the error by adjusting the process through use of a manipulated variable.

				p
					|The PID controller algorithm involves three separate constant parameters, and is accordingly sometimes called three-term control: the proportional, the integral and derivative values, denoted P, I, and D. Simply put, these values can be interpreted in terms of time: P depends on the present error, I on the accumulation of past errors, and D is a prediction of future errors, based on current rate of change.[1] The weighted sum of these three actions is used to adjust the process via a control element such as the position of a control valve, a damper, or the power supplied to a heating element.

				p
					|In the absence of knowledge of the underlying process, a PID controller has historically been considered to be the best controller.[2] By tuning the three parameters in the PID controller algorithm, the controller can provide control action designed for specific process requirements. The response of the controller can be described in terms of the responsiveness of the controller to an error, the degree to which the controller overshoots the setpoint, and the degree of system oscillation. Note that the use of the PID algorithm for control does not guarantee optimal control of the system or system stability.

				p
					|Some applications may require using only one or two actions to provide the appropriate system control. This is achieved by setting the other parameters to zero. A PID controller will be called a PI, PD, P or I controller in the absence of the respective control actions. PI controllers are fairly common, since derivative action is sensitive to measurement noise, whereas the absence of an integral term may prevent the system from reaching its target value due to the control action.
